# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/nestjs-api?schema=public"

# HTTP
NODE_ENV=development
HTTP_PORT=4000

# Log
LOG_LEVEL=debug
LOG_FILE="./logs/combined.log"
LOG_LOKI_HOST="https://logs-prod-020.grafana.net"
LOG_LOKI_USERNAME="you id"
LOG_LOKI_PASSWORD="token"

# OTLP
OTLP_SERVICE_NAME='prisma-api'
OTLP_PROM_PORT=8081
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-ap-southeast-1.grafana.net/otlp"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic you key"

# JWT
JWT_SECRET_KEY=jwt_secret
JWT_EXPIRE_IN='7d'

# Redis
REDIS_URL="redis://127.0.0.1:6379"

# Google auth
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK="http://127.0.0.1:4000/auth/google/redirect"
